.flexWrap {
  display: flex;
  overflow: auto;
  /* por defecto */
  flex-wrap: nowrap;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  /* forma corta */
  flex-flow: row-reverse wrap-reverse;
}