.spaceBetween {
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
  padding: 1rem;
}

.spaceBetween img {
  block-size: 100px;
  border-radius: 50%;
}

.spaceBetween ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  align-items: center;
} 